name: Python

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Check out code into the directory
        uses: actions/checkout@v6

      - name: lint
        uses: py-actions/flake8@v2
        with:
          plugins: "flake8-pyproject"

      - name: install requirements-dev.txt
        run: |
          pip install -r requirements-dev.txt

      - name: test
        run: |
          ./scripts/test.sh
